<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "{% url 'upload_from_url'%}" method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
  
  
        <input type = "file" id  = "upload_file_path"  name = "upload_file_path" accept = "pdf">
        <button type ="submit">UPLOAD</button>
      </form>
      <script>
        window.addEventListener("load" , (event) =>{
            const form = document.querySelector('form');
            const submitUrl  = form.getAttribute('action');
            let fileINput = document.querySelector('input'[type= 'upload_file_path']);
            let csrf = document.querySelector('input[name = "csrfmiddlewaretoken"]');
            form.addEventListener('submit',(e) =>{
                e.preventDefault();
                const formData= new FormData();
                const headers = {
                    'X-CSRFToken': csrf.value,
                }
                formData.append('upload_file_path', fileINput.files[0]);
                fetch(submitUrl,{
                    method:'POST',
                    body: formData,
                    headers:headers

                }).then(data => console.log(data) )


                })
            })

      </script>
</body>
</html>