<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Result</title>
</head>
<body>
    <h1>Upload Result</h1>
    {% if split_file_urls %}
        <ul>
            {% for file_url in split_file_urls %}
                <li><a href="{{ file_url }}" download>{{ file_url}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No files uploaded.</p>
    {% endif %}
</body>
</html>
